<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css"/>
    <link href="/stylesheets/lib/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/lib/dropzone.css">
    <link rel='stylesheet' href='/stylesheets/dist/custom.css'/>
    <title>Lol me / <%=: locals.c_user.name | capitalize %> - collections</title>
</head>
<body class="index-body">
<div class="wrap">
    <% include ../common/header.ejs %>
    <% include ../common/post-modal.ejs %>
    <div class="main">
        <div class="container">
            <div class="left-wrap">
                <% include ../common/userboard.ejs %>
                <% include ../common/hotshare.ejs %>
            </div>
            <div class="user-timeline-wrap">
                <section id="cd-timeline" class="cd-container">
                    <% if (locals.collections && locals.collections.length > 0) { %>
                    <% locals.collections.forEach(function(collection) { %>
                    <div class="cd-timeline-block">
                        <% if (collection.attachtype === 'photo') { %>
                        <div class="cd-timeline-img cd-picture">
                            <img src="/images/cd-icon-picture.svg" alt="Picture">
                        </div>
                        <!-- cd-timeline-img -->
                        <% } else if (collection.attachtype === 'video') { %>
                        <div class="cd-timeline-img cd-movie">
                            <img src="/images/cd-icon-movie.svg" alt="Movie">
                        </div>
                        <% } else { %>
                        <div class="cd-timeline-img cd-location">
                            <img src="/images/cd-icon-location.svg" alt="Location">
                        </div>
                        <% } %>
                        <div class="cd-timeline-content">
                            <div class="timeline-content-inner">
                                <div class="timeline-content-author-wrap">
                                    <div class="timeline-content-author-left">
                                        <img class="img-responsive img-circle" src="<%= collection.author.gravatar %>" alt="author gravatar" width="50" height="50">
                                    </div>
                                    <div class="timeline-content-author-right">
                                        <a href="/u/<%= collection.author.name %>"><%=: collection.author.name | capitalize %></a>
                                    </div>
                                </div>
                                <% if (collection.content) { %>
                                <p><%= collection.content %></p>
                                <% } %>
                                <% if (collection.photos && collection.photos.length > 0) { %>
                                <img class="img-responsive" src="<%= collection.photos[0].url %>"
                                     alt="<%= collection.photos[0].originalname %>">
                                <% } %>
                                <% if (collection.link) { %>
                                <a href="<%= collection.link %>"><%= collection.link %></a>
                                <% } %>
                                <% if (collection.video) { %>
                                <% collection.video = collection.video.replace(/width="\d+"/, 'width="280"'); %>
                                <%- collection.video %>
                                <% } %>
                            </div>
                            <a href="/joke/<%= collection._id %>" class="cd-read-more">Read more</a>
                            <span class="cd-date"><%= collection.friendly_create_time %></span>
                        </div>
                        <!-- cd-timeline-content -->
                    </div>
                    <!-- cd-timeline-block -->
                    <% }); %>
                    <% } %>
                </section>
                <!-- cd-timeline -->
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/lib/jquery-1.11.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/javascripts/lib/bootstrap.min.js"></script>
<script src="/javascripts/lib/dropzone.js"></script>
<!-- Resource style -->
<script src="/javascripts/lib/modernizr.js"></script>
<!-- Modernizr -->
<script src="/javascripts/dist/custom.min.js"></script>
<script>
    jQuery(document).ready(function ($) {
        var $timeline_block = $('.cd-timeline-block');

        //hide timeline blocks which are outside the viewport
        $timeline_block.each(function () {
            if ($(this).offset().top > $(window).scrollTop() + $(window).height() * 0.75) {
                $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
            }
        });

        //on scolling, show/animate timeline blocks when enter the viewport
        $(window).on('scroll', function () {
            $timeline_block.each(function () {
                if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
                    $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                }
            });
        });
    });
</script>
<!-- Resource jQuery -->
</body>
</html>