<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css"/>
    <link href="/stylesheets/lib/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/lib/jquery.fancybox.css">
    <link rel="stylesheet" href="/stylesheets/lib/dropzone.css">
    <link rel='stylesheet' href='/stylesheets/dist/custom.css'/>
    <title>Lol me / <%=: locals.joke.author.name | capitalize %></title>
</head>
<body class="index-body">
<div class="wrap">
    <% include ../common/header.ejs %>
    <% include ../common/post-modal.ejs %>
    <div class="main">
        <div class="container">
            <% var joke = locals.joke %>
            <div class="detail-wrap delegate-symbol">
                <div class="detail-inner delegate-need-index" data-index="1">
                    <div class="detail-top-wrap">
                        <div class="detail-avatar">
                            <img class="img-rounded img-responsive nav-tooltip"
                                 src="<%= joke.author.gravatar %>" data-toggle="tooltip" title="<%= joke.author.name %>" width="48"
                                 height="48">
                        </div>
                        <div class="detail-author-information">
                            <a href="/u/<%= joke.author.name %>">
                                <strong class="fullname"><%=: joke.author.name | capitalize %></strong>
                            </a>
                        </div>
                        <% if (joke.authorid.toString() !== locals.c_user._id.toString()) { %>
                        <div class="right-follow-wrap">
                            <% if (joke.author.hasFollowed) { %>
                            <button type="button" class="btn btn-danger follow-btn" data-action="unfollow" data-userid="<%= joke.author._id %>">已关注</button>
                            <% } else { %>
                            <button type="button" class="btn btn-info follow-btn" data-action="follow" data-userid="<%= joke.author._id %>">加入关注</button>
                            <% } %>
                        </div>
                        <% } %>
                    </div>
                    <% if (joke.content) { %>
                        <p class="detail-content"><%= joke.content %></p>
                    <% } %>
                    <div class="detail-fun-bar content-bottom" data-index="1" data-jokeid="<%= joke._id %>" data-userid="<%= joke.author._id %>" data-username="<%= joke.author.name %>" data-useravatar="<%= joke.author.gravatar %>" data-posttime="<%= joke.friendly_createtime %>" data-postcontent="<%= joke.content %>">
                        <ul class="list-inline">
                            <li>
                                <a class="comment-reply">
                                    <i class="fa fa-reply"></i>
                                    <b>回复</b>
                                </a>
                            </li>
                            <li>
                                <% if (joke.isLike) { %>
                                    <a class="nav-tooltip joke-like-btn islike" title="取消" data-action="cancel-like">
                                        <i class="fa fa-heart"></i>
                                        <b><%= joke.like_count %></b>
                                    </a>
                                <% } else { %>
                                    <a class="nav-tooltip joke-like-btn" title="点赞" data-action="like">
                                        <i class="fa fa-heart"></i>
                                        <b><%= joke.like_count %></b>
                                    </a>
                                <% } %>
                            </li>
                            <li>
                                <% if (joke.isDislike) { %>
                                    <a class="nav-tooltip joke-dislike-btn isdislike" title="取消" data-action="cancel-dislike">
                                        <i class="fa fa-hand-o-down"></i>
                                        <b><%= joke.dislike_count %></b>
                                    </a>
                                <% } else { %>
                                    <a class="nav-tooltip joke-dislike-btn" title="差评" data-action="dislike">
                                        <i class="fa fa-hand-o-down"></i>
                                        <b><%= joke.dislike_count %></b>
                                    </a>
                                <% } %>
                            </li>
                            <li>
                                <% if (joke.isCollected) { %>
                                <a class="collection-btn nav-tooltip" data-jokeid="<%= joke._id %>" title="取消" data-action="uncollect" style="color: #ffac33;">
                                    <i class="fa fa-star"></i>
                                    <b>收藏</b>
                                </a>
                                <% } else { %>
                                <a class="collection-btn nav-tooltip" data-jokeid="<%= joke._id %>" title="收藏" data-action="collect">
                                    <i class="fa fa-star"></i>
                                    <b>收藏</b>
                                </a>
                                <% } %>
                            </li>
                        </ul>
                    </div>
                    <div class="detail-media-wrap">
                        <div class="detail-media-inner">
                            <% if (joke.photos && joke.photos.length > 0) { %>
                            <ul class="list-inline">
                               <% joke.photos.forEach(function(photo) { %>
                               <li>
                                   <a class="fancybox" href="<%= photo.url %>" data-fancybox-group="gallery-1" title="<%= photo.originalname %>">
                                       <img src="<%= photo.url %>" class="img-responsive nav-tooltip"
                                            title="<%= photo.originalname %>" width="560">
                                   </a>
                               </li>
                               <% }); %>
                            </ul>
                            <% } %>
                            <% if (joke.link) { %>
                                <p>
                                    <a href="<%= joke.link %>"><%= joke.link %></a>
                                </p>
                            <% } %>
                            <% if (joke.video) { %>
                                <div class="media-video">
                                    <%- joke.video %>
                                </div>
                            <% } %>
                            <div class="detail-time-show">
                                <span>发表于 - <%= joke.friendly_createtime %></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-comments-wrap">
                    <div class="comment-list" id="joke1-comments">
                        <% if (joke.comments && joke.comments.length > 0) { %>
                        <% joke.comments.forEach(function(comment, index) { %>
                        <div class="comment-item">
                            <div class="comment-item-inner-left">
                                <img class="img-rounded img-responsive nav-tooltip"
                                     src="<%= comment.author.gravatar %>" data-toggle="tooltip" title="<%= comment.author.name %>"
                                     width="32" height="32">
                            </div>
                            <div class="comment-item-inner-right">
                                <div class="author-information">
                                    <a href="/u/<%= comment.author.name %>">
                                        <strong class="fullname"><%=: comment.author.name | capitalize %></strong>
                                    </a>
                                    <small class="create-time">
                                        <%= comment.friendly_createtime %>
                                    </small>
                                </div>
                                <% var contents = comment.content.split(' '); %>
                                <% var contents2 = contents.slice(1); %>
                                <p><a href="/u/<%= comment.author.name %>"><%= contents[0] %></a> <%= contents2.join(' ') %></p>

                                <div class="content-bottom" data-index="1"
                                     data-jokeid="<%= joke._id %>" data-userid="<%= comment.author._id %>"
                                     data-username="<%= comment.author.name %>" data-useravatar="<%= comment.author.gravatar %>"
                                     data-posttime="<%= comment.friendly_createtime %>" data-postcontent="<%= comment.content %>">
                                    <ul class="list-inline fun-list">
                                        <li>
                                            <a class="comment-reply">
                                                <i class="fa fa-reply"></i>
                                                <b>回复@<%= comment.author.name %></b>
                                            </a>
                                        </li>
                                        <li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                        <% } %>
                        <div class="comment-item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/lib/jquery-1.11.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/javascripts/lib/bootstrap.min.js"></script>
<script src="/javascripts/lib/dropzone.js"></script>
<script src="/javascripts/lib/jquery.fancybox.pack.js"></script>
<script src="/javascripts/dist/custom.min.js"></script>
<script>
    $(document).ready(function () {
        //fancybox
        $('.fancybox').fancybox();
    });
</script>
<!-- Resource jQuery -->
</body>
</html>