<% if (locals.followings && locals.followings.length > 0) { %>
<% locals.followings.forEach(function(following) { %>
<div class="follow-card-wrap">
    <div class="follow-card-inner">
        <div class="follow-card-header"></div>
        <div class="follow-card-content">
            <a href="/u/<%= following.name %>">
                <img src="<%= following.gravatar %>" class="img-responsive img-rounded nav-tooltip" alt="gravatar" width="70" height="70" title="<%= following.name %>">
            </a>
            <div class="follow-action">
                <button type="button" class="btn btn-danger follow-btn" data-action="unfollow" data-userid="<%= following._id %>">已关注</button>
            </div>
            <div class="following-info">
                <div class="following-fullname">
                    <a href="/u/<%= following.name %>"><%=: following.name | capitalize %></a>
                </div>
                <div class="at-name-wrap">
                    <p>@<%= following.name %> 关注了你</p>
                </div>
                <p class="following-profile"><%= following.profile %></p>
            </div>
        </div>
    </div>
</div>
<% }); %>
<% } %>