<% if (locals.jokes && locals.jokes.length > 0) { %>
<% locals.jokes.forEach(function(joke, index) { %>
<div class="item-inner" data-index="<%= locals.cpage %>-<%= index+1 %>">
    <div class="item-inner-left">
        <img class="img-rounded img-responsive nav-tooltip"
        src="/images/default.png" data-toggle="tooltip" title="<%= joke.author.name %>" width="48" height="48">
    </div>
    <div class="item-inner-right">
        <div class="author-information">
            <a href="/u/<%= joke.author.name %>">
                <strong class="fullname"><%=: joke.author.name | capitalize %></strong>
            </a>
            <a class="nav-tooltip create-time" href="/joke/<%= joke._id %>"><%= joke.friendly_createtime %></a>
        </div>
        <% if (joke.content) { %>
            <p><%= joke.content %></p>
        <% } %>
        <div class="content-media-wrap">
            <div class="content-media-inner">
                <%if (joke.link) { %>
                    <a href="<%= joke.link %>"><%= joke.link %></a>
                <% } %>
                <% if (joke.video) { %>
                    <%- joke.video %>
                <% } %>
                <% if (joke.photos && joke.photos.length > 0) { %>
                    <% joke.photos.forEach(function(photo) { %>
                        <img src="<%= photo.url %>" class="img-responsive img-rounded nav-tooltip" title="<%= photo.originalname %>">
                    <% }); %>
                <% } %>
            </div>
        </div>

        <div class="content-bottom" data-index="<%= locals.cpage %>-<% index+1 %>" data-jokeid="<%= joke._id %>" data-userid="<%= joke.author._id %>" data-username="<%= joke.author.name %>" data-useravatar="/images/default.png" data-posttime="<%= joke.friendly_createtime %>" data-postcontent="<%= joke.content %>">
            <% if (joke.comments && joke.comments.length > 0) { %>
                <a class="comment-show" data-itemid="<%= locals.cpage %>-<%= index+1 %>">
                    <i class="fa fa-comments"></i>
                    <b>展开评论</b></a>
            <% } else { %>
                <span class="none-comment">添加评论?</span><i class="fa fa-hand-o-right add-comment-direct"></i>
            <% } %>
            <ul class="list-inline fun-list">
                <li>
                    <a class="comment-reply">
                        <i class="fa fa-reply"></i>
                        <b>回复</b>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-tooltip" title="23">
                        <i class="fa fa-heart"></i>
                        <b>点赞</b>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-tooltip" title="3">
                        <i class="fa fa-hand-o-down"></i>
                        <b>差评</b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star"></i>
                        <b>收藏</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="comment-list" id="joke<%= locals.cpage %>-<%= index+1 %>-comments">
        <% if (joke.comments && joke.comments.length > 0) { %>
        <% joke.comments.forEach(function(comment, index) { %>
            <div class="comment-item">
                <div class="comment-item-inner-left">
                    <img class="img-rounded img-responsive nav-tooltip"
                    src="/images/default.png" data-toggle="tooltip" title="<%= comment.author.name %>" width="32" height="32">
                </div>
                <div class="comment-item-inner-right">
                    <div class="author-information">
                        <a href="/u/<%= comment.author.name %>">
                            <strong class="fullname"><%=: comment.author.name | capitalize %></strong>
                        </a>
                        <small class="create-time">
                            <a class="nav-tooltip" href="#"><%= comment.friendly_createtime %></a>
                        </small>
                    </div>

                    <p><%= comment.content %></p>

                    <div class="content-bottom" data-index="<%= locals.cpage %>-<%= index+1 %>" data-jokeid="<%= joke._id %>" data-userid="<%= comment.author._id %>" data-username="<%= comment.author.name %>" data-useravatar="/images/default.png" data-posttime="<%= comment.friendly_createtime %>" data-postcontent="<%= comment.content %>">
                        <ul class="list-inline fun-list">
                            <li>
                                <a class="comment-reply">
                                    <i class="fa fa-reply"></i>
                                    <b>回复</b>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-heart"></i>
                                    <b>点赞</b>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-hand-o-down"></i>
                                    <b>差评</b>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star"></i>
                                    <b>收藏</b>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <% }); %>
        <% } %>
        <div class="comment-item">
            <a href="/joke/<%= joke._id %>">view more...</a>
        </div>
    </div>
</div>
<% }); %>
<% } %>