<% if (locals.isuserpage && locals.user) { %>
<div class="user-card left-block-wrap">
    <div class="user-avatar">
        <% if (locals.user._id.toString() !== locals.c_user._id.toString()) { %>
            <div class="follow-button-wrap">
                <% if (locals.user.hasFollowed) { %>
                <button type="button" class="btn btn-danger follow-btn" data-action="unfollow" data-userid="<%= locals.user._id %>">已关注</button>
                <% } else { %>
                <button type="button" class="btn btn-info follow-btn" data-action="follow" data-userid="<%= locals.user._id %>">加入关注</button>
                <% } %>
            </div>
        <% } %>
        <div class="avatar-wrap">
            <img class="img-rounded img-responsive"
                 src="<%= locals.user.gravatar %>" alt="avatar"
                 width="80" height="80">
        </div>

        <div class="user-info">
            <div class="user-info-fullname">
                <a href="/u/<%= locals.user.name %>"><%= locals.user.name %></a>
            </div>
            <p class="user-join-time">创建于 <%= locals.user.format_create_time %></p>
        </div>
    </div>
    <ul class="list-inline user-info-list">
        <li>
            <a href="/u/<%= locals.user.name %>">
                <span class="post-items top-label">发表</span>
                <span class="post-item-count bottom-label"><%= locals.user_jokes_count %></span>
            </a>
        </li>
        <li>
            <a href="/<%= locals.user.name %>/following">
                <span class="following-users top-label">关注中</span>
                <span class="following-users-count bottom-label"><%= locals.user_follow_count %></span>
            </a>
        </li>
        <li>
            <a href="/<%= locals.user.name %>/followers">
                <span class="followed-users top-label">关注者</span>
                <span class="followed-users-count bottom-label"><%= locals.user_befollow_count %></span>
            </a>
        </li>
    </ul>
    <p class="user-profile">
        <%= locals.user.profile %>
    </p>
</div>
<% } else { %>
<% if (locals.c_user) { %>
<div class="user-card left-block-wrap">
    <div class="user-avatar">
        <div class="avatar-wrap">
            <img class="img-rounded img-responsive"
                 src="<%= locals.c_user.gravatar %>" alt="avatar"
                 width="80" height="80">
        </div>

        <div class="user-info">
            <div class="user-info-fullname">
                <a href="/u/<%= locals.c_user.name %>"><%= locals.c_user.name %></a>
            </div>
            <p class="user-join-time">创建于 <%= locals.c_user.format_create_time %></p>
        </div>
    </div>
    <ul class="list-inline user-info-list">
        <li>
            <a href="/u/<%= locals.c_user.name %>">
                <span class="post-items top-label">发表</span>
                <span class="post-item-count bottom-label"><%= locals.jokes_count || 0 %></span>
            </a>
        </li>
        <li>
            <a href="/<%= locals.c_user.name %>/following">
                <span class="following-users top-label">关注中</span>
                <span class="following-users-count bottom-label"><%= locals.follow_count || 0 %></span>
            </a>
        </li>
        <li>
            <a href="/<%= locals.c_user.name %>/followers">
                <span class="followed-users top-label">关注者</span>
                <span class="followed-users-count bottom-label"><%= locals.befollow_count || 0 %></span>
            </a>
        </li>
    </ul>
    <p class="user-profile">
        <%= locals.c_user.profile %>
    </p>
</div>
<% } %>
<% } %>